/* General styles */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #FFF;
	padding: 1em;
}

main {
	margin: 2em;
}

table {
	border-collapse: collapse;
	width: 100%;
}

thead {
	background-color: #333;
	color: #FFF;
}

th, td {
	border: 1px solid #DDD;
	padding: 0.5em;
	text-align: left;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
	table {
		font-size: 0.8em;
	}

	th, td {
		padding: 0.3em;
	}
}
